.btn__login-with {
  border-radius: 50px;
  color: #ffffff;
  background-color: #1db954;
  display: block;
  font-size: 18px;
  letter-spacing: 0.08em;
  margin: 20px auto;
  max-width: 320px;
  overflow: hidden;
  padding: 18px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}