.container-list {
  margin-top: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  padding-bottom: 30px;
}

.list-item__img {
  width: 100%;
  max-width: 250px;
  padding-top: 100%;
  background-size: cover;
  background-position: 50%;
  background-color: $bgItemColor;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.list-item__desc {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.no-items {
  color: $fontColor;
  width: 100%;
  text-align: center;
}