$bgColor: #181818;
$bgAlertColor: #f8d7da;
$bgItemColor: #282828;
$fontColor: #a0a0a0;
$lightColor: #ffffff;
$linkHover: rgba(255, 255, 255, .8);
$linkActive: rgba(255, 255, 255, .4);
$linkVisited: rgba(200, 200, 200, .4);